VITE_JUNO_RPCS=["https://juno-rpc.polkachu.com","https://juno-rpc.reece.sh","https://juno.rpc.stakin-nodes.com","https://rpc-juno-ia.cosmosia.notional.ventures/","https://rpc-juno.ecostake.com","https://rpc-juno.goldenratiostaking.net","https://rpc-juno.imperator.co/","https://rpc-juno.itastakers.com","https://rpc-juno.mib.tech/","https://rpc-juno.nodiums.com/","https://rpc-juno.pupmos.network","https://rpc-juno.whispernode.com","https://rpc-juno.zenchainlabs.io/","https://rpc.juno.bh.rocks","https://rpc.juno.chaintools.tech/","https://rpc.juno.giansalex.dev/","https://rpc.juno.interbloc.org","https://rpc.juno.kingnodes.com","https://rpc.juno.omniflix.co/","https://rpc.juno.silknodes.io/"]
VITE_ROLLBAR_DISABLED=true