name: UI

on:
  push:
    paths:
      - .github/workflows/ui.yml
      - package/cloud/**
      - package/ui/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - run: npm test -w @kogen/kogen-ui

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment:
          # - "dev"
          - "prod"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install Pulumi CLI
        uses: pulumi/setup-pulumi@v2
      - name: Get Pulumi stack output properties
        run: |
          pulumi login s3://pulumi.janfabian.cz
          pulumi stack select kogen-${{ matrix.environment }}
          echo "webapp_url=$(pulumi stack output webapp | jq -r '.url')" >> $GITHUB_ENV
          echo "backend_url=$(pulumi stack output backend | jq -r '.url')" >> $GITHUB_ENV
          echo "alchemy_pubkey=$(pulumi config get --path alchemy:pubkey)" >> $GITHUB_ENV
          echo "VITE_CONTRACT_PUT_INJECTIVE_TESTNET=$(pulumi config get --path kogen:VITE_CONTRACT_PUT_INJECTIVE_TESTNET)" >> $GITHUB_ENV
          echo "VITE_CONTRACT_INJECTIVE_TESTNET=$(pulumi config get --path kogen:VITE_CONTRACT_INJECTIVE_TESTNET)" >> $GITHUB_ENV
          echo "VITE_CONTRACT_NEUTRON_TESTNET=$(pulumi config get --path kogen:VITE_CONTRACT_NEUTRON_TESTNET)" >> $GITHUB_ENV
          echo "VITE_CONTRACT_ARCHWAY_TESTNET=$(pulumi config get --path kogen:VITE_CONTRACT_ARCHWAY_TESTNET)" >> $GITHUB_ENV
        working-directory: package/cloud
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: eu-central-1
          PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
      - run: npm ci
      - run: npm run -w @kogen/kogen-ui build:${{ matrix.environment }}
        env:
          NODE_OPTIONS: "--max_old_space_size=8192"
          VITE_FRONTEND_URL: ${{ env.webapp_url }}
          VITE_BACKEND_URL: ${{ env.backend_url }}
          VITE_ALCHEMY_PUBKEY: ${{ env.alchemy_pubkey }}
          VITE_CONTRACT_PUT_INJECTIVE_TESTNET: ${{ env.VITE_CONTRACT_PUT_INJECTIVE_TESTNET }}

          VITE_CONTRACT_INJECTIVE_TESTNET: ${{ env.VITE_CONTRACT_INJECTIVE_TESTNET }}
          VITE_CONTRACT_NEUTRON_TESTNET: ${{ env.VITE_CONTRACT_NEUTRON_TESTNET }}
          VITE_CONTRACT_ARCHWAY_TESTNET: ${{ env.VITE_CONTRACT_ARCHWAY_TESTNET }}
          VITE_CLIENT_ROLLBAR_ACCESS_TOKEN: ${{ secrets.CLIENT_ROLLBAR_ACCESS_TOKEN }}
      - uses: actions/upload-artifact@v4
        if: github.ref == 'refs/heads/main'
        with:
          name: website-kogen-${{ matrix.environment }}
          path: ./package/ui/dist
          retention-days: 1

  deploy-prod:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: ["test", "build"]
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - uses: actions/download-artifact@v3
        with:
          name: website-kogen-prod
          path: ./package/ui/dist
      - name: Install Pulumi CLI
        uses: pulumi/setup-pulumi@v2
      - name: Get Pulumi stack output properties
        run: |
          pulumi login s3://pulumi.janfabian.cz
          pulumi stack select kogen-prod
          echo "s3_bucket=$(pulumi stack output webapp | jq -r '.bucketUri')" >> $GITHUB_ENV
          echo "cloudfront_id=$(pulumi stack output webapp | jq -r '.cloudFrontId')" >> $GITHUB_ENV
        working-directory: package/cloud
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: eu-central-1
          PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
      - run: |
          aws s3 sync ./package/ui/dist ${{ env.s3_bucket }} --delete
      - run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ env.cloudfront_id}} \
            --paths "/*"
